<div class="pedido-footer">
  <div class="pedido-total">${{ totalPedido | number:'1.0-2' }}</div>

  <div class="pedido-footer__acciones">
    <ui-button
      *ngIf="!autoImpresion && reciboPendienteId"
      texto="Descargar recibo"
      [noBackgroundColor]="true"
      backgroundColor="#D4AF37"
      [disabled]="procesando || descargandoRecibo"
      (accion)="descargarReciboPendiente.emit()">
    </ui-button>

    <ui-button
      texto="Pagar"
      [disabled]="!canPagar"
      (accion)="abrirPago.emit()">
    </ui-button>
  </div>
</div>
