<div class="data-table-wrapper">
  <div *ngIf="isLoading" class="table-loading">
    <p>Cargando datos...</p>
  </div>

  <div *ngIf="!isLoading && hasError" class="table-error">
    <p>{{ errorMessage }}</p>
    <ui-button texto="Reintentar" (accion)="onRetry.emit()"></ui-button>
  </div>

  <div *ngIf="!isLoading && !hasError && data.length === 0" class="table-empty">
    <p>{{ emptyMessage }}</p>
  </div>

  <div *ngIf="!isLoading && !hasError && data.length" class="table-responsive">
    <table class="data-table">
      <thead>
        <tr>
          <th *ngFor="let column of columns">{{ column }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data">
          <td *ngFor="let column of columns">
            {{ getValueByPath(row, column) | formatTableValue }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
