DB_USER=root
DB_PASSWORD=CAMBIA_DB_PASSWORD
DB_NAME=don_papa
DB_HOST=mysql

DB_NAME_INVENTORY=don_papa
DB_NAME_USERS=don_papa
DB_NAME_ORDERS=don_papa
DB_NAME_RESERVATIONS=don_papa
DB_NAME_EVENTS=don_papa
DB_NAME_REPORTS=don_papa

INTERNAL_SERVICE_TOKEN=CAMBIA_INTERNAL_SERVICE_TOKEN
JWT_SECRET=CAMBIA_JWT_SECRET
JWT_REFRESH_SECRET=CAMBIA_JWT_REFRESH_SECRET

GOOGLE_API_KEY=CAMBIA_GOOGLE_API_KEY
GEMINI_MODEL_ID=gemini-2.5-flash

MP_ACCESS_TOKEN=CAMBIA_MP_ACCESS_TOKEN
MP_SUCCESS_URL=http://localhost:4200/client/pedidos/pagos/registrar/success
MP_FAILURE_URL=http://localhost:4200/client/pedidos/pagos/registrar/failure
MP_PENDING_URL=http://localhost:4200/client/pedidos/pagos/registrar/pending