<aside
  class="sidebar"

  [class.is-collapsed]="collapsed"
  [class.is-full-collapsed]="isFullCollapsed"
  [class.without-logo]="!showLogo"
  [ngClass]="width"
  >
    <div class="logotipo">
        <button class="collapse-toggle" type="button" (click)="onToggle()" aria-label="Alternar sidebar">
            <span class="toggle-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
              </svg>
            </span>
        </button>

        @if (showLogo) {
            <img src="/img/logoDonPapa.png" alt="Logo Don Papa" class="img">
        }
        <p class="texto" [class.is-hidden]="collapsed">{{ titulo }}</p>
        
    </div>
    
    <nav class="menu-container">
        @if (menuItems.length > 0) {
            @for (item of menuItems; track item.texto){
                @if (!collapsed) {
                    <app-ui-icon-button
                    [texto]="item.texto"
                    [urlIcono]="item.urlIcono"
                    [link]="item.link"
                    [sidebarStyles]="true"
                    [fullWidth]="true"
                    [showBorder]="true"
                    [customHeight]="'60px'"
                    >
                    </app-ui-icon-button>
                } @else {
                    <app-ui-only-icon-button
                    [urlIcono]="item.urlIcono"
                    [link]="item.link"
                    [sidebarStyles]="true"
                    [fullWidth]="true"
                    [showBorder]="true"
                    [customHeight]="'60px'"
                    >
                    </app-ui-only-icon-button>
                }
            }
        }
    </nav>
</aside>

