:host {
    display: block;
    width: 100%;
}

p { 
    max-width: 300px;
    margin: 0;
    padding: 0;
}

.error {
    color: #ef4444;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    line-height: 1.4;
}

.success {
    color: #2ecc71;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    line-height: 1.4;
}

.info {
    color: #3498db;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    line-height: 1.4;
}
