<app-ui-modal titulo="Agregar Producto a Promoción" [mostrar]="mostrar" (cerrar)="onCerrar()">
	<app-ui-form maxHeight="50vh" maxWidth="600px">
		<app-ui-combobox tituloInput="Producto" [options]="productosOptions" [(selectedOption)]="productoSeleccionadoId"
			optionLabel="nombre" optionValue="idProducto" #productoCombobox>
		</app-ui-combobox>

		<ui-input tituloInput="Cantidad Mínima" tipo="number" placeholder="Ej: 1" [(ngModel)]="cantidadMinima"
			name="cantidadMinima" required #cantidadField="ngModel">
		</ui-input>

		<ui-input tituloInput="Precio Promocional (Opcional)" tipo="number" placeholder="Ej: 99.99"
			[(ngModel)]="precioPromocional" name="precioPromocional" [disabled]="porcentajeDescuento !== null && porcentajeDescuento > 0">
		</ui-input>

		<ui-input tituloInput="Porcentaje Descuento (Opcional)" tipo="number" placeholder="Ej: 20"
			[(ngModel)]="porcentajeDescuento" name="porcentajeDescuento" [disabled]="precioPromocional !== null && precioPromocional > 0">
		</ui-input>

		<!-- Validaciones -->
		<div class="form-errors">
			@if (!productoSeleccionadoId && cantidadField.touched) {
			<app-ui-helper-text>
				<ng-container>Debe seleccionar un producto</ng-container>
			</app-ui-helper-text>
			}

			@if (cantidadField.invalid && cantidadField.touched) {
			<app-ui-helper-text>
				<ng-container>La cantidad mínima es obligatoria</ng-container>
			</app-ui-helper-text>
			}

			@if ((!precioPromocional || precioPromocional <= 0) && (!porcentajeDescuento || porcentajeDescuento <= 0)) {
			<app-ui-helper-text>
				<ng-container>Debe ingresar un Precio Promocional O un Porcentaje de Descuento</ng-container>
			</app-ui-helper-text>
			}
		</div>

		<div footer class="form-footer">
			<ui-button texto="Agregar" (accion)="onSubmit()" [noBackgroundColor]="true"></ui-button>
		</div>
	</app-ui-form>
</app-ui-modal>