.link{
    text-decoration: none;
    color: var(--dp-color-common-045);
    max-width: 180px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: center;
    &:hover{
        cursor: pointer;
        color: var(--dp-color-common-029)
    }

    &.active-link{
        color: var(--dp-color-common-029);
        border-bottom: 2px solid var(--dp-color-common-029);
    }

    &.hide-underline.active-link {
        border-bottom: none;
    }
    
    &.bordered {
        border-bottom: 2px solid var(--dp-color-common-029);
    }
    
    &.full-width {
        width: 100%;
        max-width: 100% !important;
    }

    
}

.texto{
    font-size: 19px;
}

.img{
    width: 40px;
    height: 40px;
}