<app-ui-modal titulo="Editar Producto" [mostrar]="mostrar" (cerrar)="onCerrar()">
    <app-ui-form maxHeight="50vh" maxWidth="1000px">
        <ui-input tituloInput="Nombre" [(ngModel)]="productoEditado.nombre" name="nombre" required
            placeholder="Ej: Hamburguesa Clásica" #nombreModel="ngModel">
        </ui-input>



        <ui-input tituloInput="Precio" tipo="number" [(ngModel)]="productoEditado.precio" name="precio" required
            placeholder="Ej: 15.50" [min]='0' #precioModel="ngModel">
        </ui-input>


        <ui-input tituloInput="Stock Actual" tipo="number" [(ngModel)]="productoEditado.stockActual" name="stockActual"
            required placeholder="Ej: 50" [min]='0' #stockActualModel="ngModel">
        </ui-input>


        <ui-input tituloInput="Stock Mínimo" tipo="number" [(ngModel)]="productoEditado.stockMinimo" name="stockMinimo"
            required placeholder="Ej: 10" [min]="0" #stockMinimoModel="ngModel">
        </ui-input>



        <ui-input tituloInput="Descripción" [(ngModel)]="productoEditado.descripcion" name="descripcion"
            placeholder="Ej: Carne de res, lechuga, tomate...">
        </ui-input>



        <app-ui-combobox tituloInput="Categorias" [options]="categoriasOptions"
            [(selectedOption)]="productoEditado.idCategoria">

        </app-ui-combobox>

        <div style="margin-top: 1rem; margin-bottom: 1rem;">
            <app-ui-checkbox label="Producto Activo" name="activoEditado"
                [(ngModel)]="productoEditado.activo"></app-ui-checkbox>
        </div>

        <!-- <app-ui-only-icon-button urlIcono="icons/addImage.svg" class="addImage" texto="Agregar Imagen"
            [showTextStyle]="showTextStyle">
        </app-ui-only-icon-button> -->
        <app-ui-image-upload [productoId]="registroSeleccionado?.idProducto ?? null"
            [urlActual]="registroSeleccionado?.imagen ?? null" (imagenSubida)="actualizarProducto()">
        </app-ui-image-upload>

        <div footer>
            <ui-button texto="Actualizar Producto" [noBackgroundColor]="true" (accion)="actualizarProducto()">
            </ui-button>
        </div>
        <div>
            <app-ui-helper-text *ngIf="nombreModel.invalid && nombreModel.touched">
                <ng-container *ngIf="nombreModel.errors?.['required']">El nombre es obligatorio.</ng-container>
            </app-ui-helper-text>
            <app-ui-helper-text *ngIf="precioModel.invalid && precioModel.touched">
                <ng-container *ngIf="precioModel.errors?.['required']">El precio es obligatorio.</ng-container>
                <ng-container *ngIf="precioModel.errors?.['min']">El precio no puede ser negativo.</ng-container>
            </app-ui-helper-text>
            <app-ui-helper-text *ngIf="stockActualModel.invalid && stockActualModel.touched">
                <ng-container *ngIf="stockActualModel.errors?.['required']">El stock actual es
                    obligatorio.</ng-container>
                <ng-container *ngIf="stockActualModel.errors?.['min']">El stock no puede ser negativo.</ng-container>
            </app-ui-helper-text>
            <app-ui-helper-text *ngIf="stockMinimoModel.invalid && stockMinimoModel.touched">
                <ng-container *ngIf="stockMinimoModel.errors?.['required']">El stock mínimo es
                    obligatorio.</ng-container>
                <ng-container *ngIf="stockMinimoModel.errors?.['min']">El stock mínimo no puede ser
                    negativo.</ng-container>
            </app-ui-helper-text>
        </div>
    </app-ui-form>



</app-ui-modal>