<app-ui-modal [mostrar]="mostrar" titulo="Gestionar Productos del Pedido" (cerrar)="onCerrar()">
	<div class="modal-productos">
		<p *ngIf="pedidoSeleccionado">
			Pedido: #{{ pedidoSeleccionado.idPedido }}
		</p>

		<div class="table-content" *ngIf="productos.length > 0">
			<app-ui-tabla
				[theadData]="columnasTabla"
				[tbodyData]="productos"
				[acciones]="accionesProductosPedido"
			></app-ui-tabla>
		</div>

		<p class="warning-text" *ngIf="productos.length === 0">
			No hay productos asociados a este pedido.
		</p>

		<div footer class="form-footer">
			<ui-button texto="Agregar Producto" (accion)="abrirModalAgregarProducto()"></ui-button>
		</div>
	</div>
</app-ui-modal>

<!-- MODAL ANIDADO: AGREGAR PRODUCTO -->
<app-ui-modal [mostrar]="mostrarModalAgregarProducto" titulo="Agregar Producto al Pedido" (cerrar)="cerrarModalAgregarProducto()">
	<app-ui-form maxHeight="45vh" maxWidth="700px" >
		<div class="seccion-productos">
			<app-ui-combobox
				tituloInput="Producto"
				[options]="productosOptions"
				[(selectedOption)]="nuevoProducto.idProducto"
			></app-ui-combobox>

			<ui-input
				tituloInput="Cantidad"
				tipo="number"
				placeholder="1"
				[(ngModel)]="nuevoProducto.cantidad"
				name="cantidad"
				required
			></ui-input>

			<app-ui-helper-text *ngIf="mensajeValidacionProducto">
				<ng-container>{{ mensajeValidacionProducto }}</ng-container>
			</app-ui-helper-text>
		</div>

		<div footer class="form-footer">
			<ui-button
				texto="Agregar Producto"
				[noBackgroundColor]="true"
				backgroundColor="#D4AF37"
				(accion)="onAgregarProducto()"
				[disabled]="cargando"
			></ui-button>
		</div>
	</app-ui-form>
</app-ui-modal>

<!-- MODAL DE ELIMINACIÓN -->
<app-ui-modal *ngIf="mostrarModalEliminar" [mostrar]="mostrarModalEliminar" titulo="¿Desea eliminar producto?"
	(cerrar)="cerrarModalEliminar()">
	<div class="contenido-eliminacion">
		<p>
			¿Estás seguro de que deseas eliminar el producto
			<span class="entity-highlight">#{{ productoAEliminar?.idProducto }}</span>
			del pedido?
		</p>
		<p class="advertencia">Esta acción es irreversible.</p>

		<div class="acciones-eliminacion">
			<ui-button texto="Eliminar Producto" [noBackgroundColor]="true" backgroundColor="#EF4444"
				(accion)="confirmarEliminacionProducto()" [disabled]="cargando"></ui-button>
		</div>
	</div>
</app-ui-modal>