// SecciÃ³n de contraseÃ±a
.contrasenaSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;

    p {
        color: var(--dp-color-hardcoded-068);
        font-size: 11px;
        width: 270px;
    }
}



:host {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

// Footer del formulario
[footer] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    .p{
        color:var(--dp-color-common-045);
    }
}

// Enlaces
.link {
    font-size: 14px;
    color: var(--dp-color-common-029);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}



