.seccion-productos {
	

	h3 {
		color: #ffffff;
		margin-bottom: 1rem;
		font-size: 1.1rem;
		border-bottom: 2px solid #D4AF37;
		padding-bottom: 0.5rem;
		font-weight: 100;
	}

	app-ui-combobox {
		margin-bottom: 1.5rem;
	}

	ui-input {
		margin-bottom: 1rem;
	}

	.boton-agregar-producto {
		margin: 1.5rem 0;
		display: flex;
		justify-content: flex-start;
	}
}


.seccion-productos-agregados {

	h3 {
		color: #ffffff;
		margin-bottom: 1rem;
		font-size: 1.1rem;
		border-bottom: 2px solid #D4AF37;
		padding-bottom: 0.5rem;
		font-weight: 100;
	}

	.tabla-contenedor {
		background-color: #1a1a1a;
		border-radius: 8px;
		overflow: hidden;
		margin-bottom: 1rem;

		app-ui-tabla {
			width: fit-content;
		}
	}

	.sin-productos {
		color: #cccccc;
		font-style: italic;
		text-align: center;
		padding: 2rem 1rem;
		background-color: #1a1a1a;
		border-radius: 8px;
	}
}

.seccion-mesa {
	margin-bottom: 1rem;

	h3 {
		color: #ffffff;
		margin-bottom: 1rem;
		font-size: 1.1rem;
		border-bottom: 2px solid #D4AF37;
		padding-bottom: 0.5rem;
		font-weight: 100;
	}

	ui-input {
		margin-bottom: 0;
	}
}

.form-footer {
	display: flex;
	justify-content: flex-end;
	gap: 0.75rem;
	margin-bottom: 1.5rem;
}

app-ui-helper-text {
	margin: 0;
}
