<section 
class="tabla-section"
[ngClass]="{
    'min-width': minWidth
}"
>
    <table class="tabla">
    <thead class="tabla-encabezado">
        @for (x of theadData; track $index) {
            <th class="tabla-item">{{x}}</th>
        }
    </thead>

    <tbody class="tabla-body">
        @for (objeto of tbodyData; track $index) {
            <tr class="tabla-fila">
                @for (columna of theadData; track $index) {
                    <td class="tabla-item">
                        @if (columna === 'imagen' && objeto[columna] && objeto[columna] !== 'N/A') {
                            <img
                                [src]="objeto[columna]"
                                alt="Imagen"
                                style="max-width: 52px; max-height: 52px; object-fit: cover;"
                            />
                        } @else if (columna === 'Acciones') {
                            <div class="acciones-container">
                                @for (accion of acciones; track $index) {
                                    <app-ui-only-icon-button 
                                    [urlIcono]="accion.urlIcono"
                                    [background_color]="true"
                                    (action)="ejecutarAccion(accion, objeto)"
                                    >
                                    </app-ui-only-icon-button>
                                }
                            </div>
                        } @else {
                            {{objeto[columna]}}
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
</section>