<app-ui-form titulo="Recuperar contraseña" (formSubmit)="submit($event)">
    <ui-input tituloInput="Correo electrónico" placeholder="ejemplo@correo.com" name="email" tipo="email" required email
        [(ngModel)]="email" #emailModel="ngModel"></ui-input>

    <app-ui-helper-text *ngIf="emailModel.invalid && (emailModel.touched)">
        <ng-container *ngIf="emailModel.errors?.['required']">El correo es obligatorio.</ng-container>
        <ng-container *ngIf="emailModel.errors?.['email']">Formato de correo inválido.</ng-container>
    </app-ui-helper-text>

    <app-ui-helper-text type="success" *ngIf="successMessage">{{ successMessage }}</app-ui-helper-text>
    <app-ui-helper-text *ngIf="(error$ | async) as error">{{ error }}</app-ui-helper-text>

    <div footer>
        <ui-button texto="Enviar" tipo="submit" [disabled]="emailModel.invalid ? true : false"
            customWidth="250px"></ui-button>

        <p class="p">¿Recordaste tu contraseña? <a routerLink="/auth/login" class="link">Volver a iniciar sesión</a></p>
    </div>
</app-ui-form>