// === Colores recolectados del Frontend (admin, auth, client, employee) ===
// Este archivo fue generado para tener un inventario de los colores utilizados y facilitar la futura customización.

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\main-layout\main-layout.scss
$collected-color-1: #090705;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\main-layout\main-layout.scss
$collected-color-2: #0d0a08;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\main-layout\main-layout.scss
$collected-color-3: #100c0a;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\cash-balance\cash-balance-page\cash-balance-page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\components\table-sale-footer-actions\table-sale-footer-actions.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\main-orders\main-orders.scss y 1 más
$collected-color-4: #10b981;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\main-layout\components\web-orders-badge\web-orders-badge.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\main-layout\main-layout.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\main-orders\main-orders.scss y 3 más
$collected-color-5: #1a120b;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\orders\components\agregar-order-form\agregar-order-form.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\inventory-section\inventory-section.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\sales-section\sales-section.scss y 2 más
$collected-color-6: #1a1a1a;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\main-layout\main-layout.scss
$collected-color-7: #1f1409;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\main-layout\main-layout.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\pedidos-web\pedidos-web-page.component.scss
$collected-color-8: #22c55e;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\main-layout\components\web-orders-badge\web-orders-badge.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\main-layout\main-layout.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\main-layout\main-layout.scss
$collected-color-9: #2b1d13;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\auth\forgot-password\forgot-password.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\auth\profile\profile.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\auth\verify-email\verify-email.scss
$collected-color-10: #2e7d32;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\main-layout\main-layout.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\pedidos-web\pedidos-web-page.component.scss
$collected-color-11: #3b82f6;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\main-layout\main-layout.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\pedidos-web\pedidos-web-page.component.scss
$collected-color-12: #4ade80;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-mesas\catalog-mesas.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\reservas\components\reservas-disponibilidad\reservas-disponibilidad.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\main-statistics\main-statistics.scss
$collected-color-13: #4caf50;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\statistics-filters\statistics-filters.scss
$collected-color-14: #555;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\main-layout\main-layout.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\pedidos-web\pedidos-web-page.component.scss
$collected-color-15: #60a5fa;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\statistics-filters\statistics-filters.scss
$collected-color-16: #757575;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\product-detail-modal\product-detail-modal.component.scss
$collected-color-17: #78e08f;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\product-detail-modal\product-detail-modal.component.scss
$collected-color-18: #81ecec;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-mesas\catalog-mesas.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\reservas\components\reservas-disponibilidad\reservas-disponibilidad.page.scss
$collected-color-19: #8b4513;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\events-promotions\main-events-promotions\main-events-promotions.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\inventory\main-inventory\main-inventory.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\orders\components\gestionar-productos-form\gestionar-productos-form.scss y 6 más
$collected-color-20: #999;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-mesas\catalog-mesas.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\reservas\components\reservas-disponibilidad\reservas-disponibilidad.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\cash-balance\cash-balance-page\cash-balance-page.scss y 6 más
$collected-color-21: #999999;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\statistics-data-table\statistics-data-table.scss
$collected-color-22: #b8933f;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\auth\forgot-password\forgot-password.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\auth\profile\profile.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\statistics-metrics-grid\statistics-metrics-grid.scss
$collected-color-23: #c62828;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-marketplace\catalog-marketplace.page.scss
$collected-color-24: #c8ffd8;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\statistics-data-table\statistics-data-table.scss
$collected-color-25: #c9a347;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-mesas\catalog-mesas.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\orders\components\agregar-order-form\agregar-order-form.scss
$collected-color-26: #cccccc;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\statistics-filters\statistics-filters.scss
$collected-color-27: #d0d0d0;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-mesas\catalog-mesas.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\reservas\components\reservas-disponibilidad\reservas-disponibilidad.page.scss
$collected-color-28: #d4a574;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\main-layout\components\web-orders-badge\web-orders-badge.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\main-layout\main-layout.scss y 24 más
$collected-color-29: #d4af37;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\orders\components\payments-section\payments-section.scss
$collected-color-30: #ddd;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\main-layout\components\web-orders-badge\web-orders-badge.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\main-layout\main-layout.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\components\table-sale-order-lines\table-sale-order-lines.scss y 13 más
$collected-color-31: #ef4444;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-mesas\catalog-mesas.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\reservas\components\reservas-disponibilidad\reservas-disponibilidad.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\inventory-section\inventory-section.scss y 1 más
$collected-color-32: #f44336;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\main-layout\main-layout.scss
$collected-color-33: #f4f4f5;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\orders\components\payments-section\payments-section.scss
$collected-color-34: #f5f5f5;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss
$collected-color-35: #f6d86a;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\main-layout\components\web-orders-badge\web-orders-badge.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\main-layout\main-layout.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\pedidos-web\pedidos-web-page.component.scss
$collected-color-36: #f87171;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-marketplace\catalog-marketplace.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-toolbar-advanced\catalog-toolbar-advanced.component.scss
$collected-color-37: #ff6464;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\product-detail-modal\product-detail-modal.component.scss
$collected-color-38: #ff6b6b;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\product-detail-modal\product-detail-modal.component.scss
$collected-color-39: #ff7675;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-mesas\catalog-mesas.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\reservas\components\reservas-disponibilidad\reservas-disponibilidad.page.scss
$collected-color-40: #ff9800;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\product-detail-modal\product-detail-modal.component.scss
$collected-color-41: #ffbe76;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-marketplace\catalog-marketplace.page.scss
$collected-color-42: #ffd1d1;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\statistics-metrics-grid\statistics-metrics-grid.scss
$collected-color-43: #ffebee;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\main-layout\main-layout.scss
$collected-color-44: #fff;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\main-layout\components\web-orders-badge\web-orders-badge.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\main-layout\main-layout.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\category-products\category-products.scss y 20 más
$collected-color-45: #ffffff;

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\auth\profile\profile.scss
$collected-color-46: rgba(0, 0, 0, 0.08);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\reservas\components\mesas-check-availability\mesas-check-availability.page.scss
$collected-color-47: rgba(0, 0, 0, 0.1);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\reservas\components\mesas-check-availability\mesas-check-availability.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\reservas\components\reservation-history\reservation-history.page.scss
$collected-color-48: rgba(0, 0, 0, 0.15);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-marketplace\catalog-marketplace.page.scss
$collected-color-49: rgba(0, 0, 0, 0.18);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\reservas\components\reservas-disponibilidad\reservas-disponibilidad.page.scss
$collected-color-50: rgba(0, 0, 0, 0.2);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-mesas\catalog-mesas.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\reservas\components\reservas-disponibilidad\reservas-disponibilidad.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\reservas\components\reservation-detail\reservation-detail.page.scss y 1 más
$collected-color-51: rgba(0, 0, 0, 0.3);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-marketplace\catalog-marketplace.page.scss
$collected-color-52: rgba(0, 0, 0, 0.35);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\reservas\components\reservas-disponibilidad\reservas-disponibilidad.page.scss
$collected-color-53: rgba(0, 0, 0, 0.4);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss
$collected-color-54: rgba(0, 0, 0, 0.42);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\product-detail-modal\product-detail-modal.component.scss
$collected-color-55: rgba(0, 0, 0, 0.45);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss
$collected-color-56: rgba(0, 0, 0, 0.48);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\reservas\components\reservation-detail\reservation-detail.page.scss
$collected-color-57: rgba(0, 0, 0, 0.5);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\main-layout\main-layout.scss
$collected-color-58: rgba(0, 0, 0, 0.6);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss
$collected-color-59: rgba(0, 0, 0, 0.72);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss
$collected-color-60: rgba(0, 0, 0, 0.74);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\product-detail-modal\product-detail-modal.component.scss
$collected-color-61: rgba(0, 0, 0, 0.9);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss
$collected-color-62: rgba(10, 10, 10, 0.4);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-marketplace\catalog-marketplace.page.scss
$collected-color-63: rgba(103, 224, 132, 0.5);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss
$collected-color-64: rgba(12, 12, 12, 0.68);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\product-detail-modal\product-detail-modal.component.scss
$collected-color-65: rgba(12, 12, 16, 0.98);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\main-orders\main-orders.scss
$collected-color-66: rgba(16, 185, 129, .28);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\components\registrar-pago-form\registrar-pago-form.scss
$collected-color-67: rgba(16, 185, 129, 0.45);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\product-detail-modal\product-detail-modal.component.scss
$collected-color-68: rgba(18, 18, 22, 0.98);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\pos-floor-plan\pos-floor-plan.scss
$collected-color-69: rgba(184, 134, 11, 0.8);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\main-orders\main-orders.scss
$collected-color-70: rgba(212, 175, 55, .25);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\main-orders\main-orders.scss
$collected-color-71: rgba(212, 175, 55, .28);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\main-orders\main-orders.scss
$collected-color-72: rgba(212, 175, 55, .3);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\reports\main-reports\main-reports.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\statistics-data-table\statistics-data-table.scss
$collected-color-73: rgba(212, 175, 55, 0.05);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\reports\main-reports\main-reports.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\statistics-data-table\statistics-data-table.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\statistics-metrics-grid\statistics-metrics-grid.scss
$collected-color-74: rgba(212, 175, 55, 0.1);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\main-statistics\main-statistics.scss
$collected-color-75: rgba(212, 175, 55, 0.15);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\category-sidebar\category-sidebar.component.scss
$collected-color-76: rgba(212, 175, 55, 0.18);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\category-sidebar\category-sidebar.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\comparison-bar-chart\comparison-bar-chart.scss y 5 más
$collected-color-77: rgba(212, 175, 55, 0.2);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\sales-section\sales-section.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\main-statistics\main-statistics.scss
$collected-color-78: rgba(212, 175, 55, 0.3);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss
$collected-color-79: rgba(212, 175, 55, 0.32);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\inventory-section\inventory-section.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\sales-section\sales-section.scss
$collected-color-80: rgba(212, 175, 55, 0.4);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\main-statistics\main-statistics.scss
$collected-color-81: rgba(212, 175, 55, 0.5);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\category-sidebar\category-sidebar.component.scss
$collected-color-82: rgba(212, 175, 55, 0.55);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss
$collected-color-83: rgba(212, 175, 55, 0.85);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\featured-products-row\featured-products-row.component.scss
$collected-color-84: rgba(218, 165, 32, 0.04);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-marketplace\catalog-marketplace.page.scss
$collected-color-85: rgba(218, 165, 32, 0.06);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-marketplace\catalog-marketplace.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\featured-products-row\featured-products-row.component.scss
$collected-color-86: rgba(218, 165, 32, 0.08);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\breadcrumbs\breadcrumbs.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-toolbar-advanced\catalog-toolbar-advanced.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\featured-products-row\featured-products-row.component.scss
$collected-color-87: rgba(218, 165, 32, 0.1);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\product-detail-modal\product-detail-modal.component.scss
$collected-color-88: rgba(218, 165, 32, 0.12);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-toolbar-advanced\catalog-toolbar-advanced.component.scss
$collected-color-89: rgba(218, 165, 32, 0.15);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-marketplace\catalog-marketplace.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-toolbar-advanced\catalog-toolbar-advanced.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\featured-products-row\featured-products-row.component.scss y 1 más
$collected-color-90: rgba(218, 165, 32, 0.2);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\product-detail-modal\product-detail-modal.component.scss
$collected-color-91: rgba(218, 165, 32, 0.22);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\product-detail-modal\product-detail-modal.component.scss
$collected-color-92: rgba(218, 165, 32, 0.25);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-toolbar-advanced\catalog-toolbar-advanced.component.scss
$collected-color-93: rgba(218, 165, 32, 0.3);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\product-detail-modal\product-detail-modal.component.scss
$collected-color-94: rgba(218, 165, 32, 0.35);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\product-detail-modal\product-detail-modal.component.scss
$collected-color-95: rgba(218, 165, 32, 0.45);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\breadcrumbs\breadcrumbs.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-toolbar-advanced\catalog-toolbar-advanced.component.scss
$collected-color-96: rgba(218, 165, 32, 0.5);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\main-orders\main-orders.scss
$collected-color-97: rgba(239, 68, 68, .28);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\pedidos\components\orders\cart\orders-cart.page.scss
$collected-color-98: rgba(239, 68, 68, 0.08);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\pedidos\components\orders\cart\orders-cart.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\users\profile\profile.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\comparison-bar-chart\comparison-bar-chart.scss y 4 más
$collected-color-99: rgba(239, 68, 68, 0.1);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\perfil\components\profile-client\profile-client.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\components\table-sale-order-lines\table-sale-order-lines.scss
$collected-color-100: rgba(239, 68, 68, 0.12);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\pedidos\components\orders\cart\orders-cart.page.scss
$collected-color-101: rgba(239, 68, 68, 0.3);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\components\table-sale-order-lines\table-sale-order-lines.scss
$collected-color-102: rgba(239, 68, 68, 0.4);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\components\registrar-pago-form\registrar-pago-form.scss
$collected-color-103: rgba(239, 68, 68, 0.45);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-marketplace\catalog-marketplace.page.scss
$collected-color-104: rgba(24, 45, 29, 0.95);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\inventory-section\inventory-section.scss
$collected-color-105: rgba(244, 67, 54, 0.3);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\components\registrar-pago-form\registrar-pago-form.scss
$collected-color-106: rgba(251, 191, 36, 0.45);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-marketplace\catalog-marketplace.page.scss
$collected-color-107: rgba(255, 100, 100, 0.1);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-toolbar-advanced\catalog-toolbar-advanced.component.scss
$collected-color-108: rgba(255, 100, 100, 0.15);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-toolbar-advanced\catalog-toolbar-advanced.component.scss
$collected-color-109: rgba(255, 100, 100, 0.25);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-marketplace\catalog-marketplace.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-toolbar-advanced\catalog-toolbar-advanced.component.scss
$collected-color-110: rgba(255, 100, 100, 0.3);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-marketplace\catalog-marketplace.page.scss
$collected-color-111: rgba(255, 118, 118, 0.55);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-marketplace\catalog-marketplace.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-toolbar-advanced\catalog-toolbar-advanced.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss y 4 más
$collected-color-112: rgba(255, 255, 255, 0.02);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-marketplace\catalog-marketplace.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\category-sidebar\category-sidebar.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\product-detail-modal\product-detail-modal.component.scss y 3 más
$collected-color-113: rgba(255, 255, 255, 0.03);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\featured-products-row\featured-products-row.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\pos-floor-plan\pos-floor-plan.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\inventory-section\inventory-section.scss y 2 más
$collected-color-114: rgba(255, 255, 255, 0.05);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss
$collected-color-115: rgba(255, 255, 255, 0.07);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\category-sidebar\category-sidebar.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss
$collected-color-116: rgba(255, 255, 255, 0.08);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\pos-floor-plan\pos-floor-plan.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\inventory-section\inventory-section.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\sales-section\sales-section.scss y 2 más
$collected-color-117: rgba(255, 255, 255, 0.1);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss
$collected-color-118: rgba(255, 255, 255, 0.18);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\pos-floor-plan\pos-floor-plan.scss
$collected-color-119: rgba(255, 255, 255, 0.2);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss
$collected-color-120: rgba(255, 255, 255, 0.24);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss
$collected-color-121: rgba(255, 255, 255, 0.25);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-marketplace\catalog-marketplace.page.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss
$collected-color-122: rgba(255, 255, 255, 0.28);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\category-sidebar\category-sidebar.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss
$collected-color-123: rgba(255, 255, 255, 0.3);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss
$collected-color-124: rgba(255, 255, 255, 0.32);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\comparison-bar-chart\comparison-bar-chart.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\pie-chart-card\pie-chart-card.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\statistics-chart\statistics-chart.scss
$collected-color-125: rgba(255, 255, 255, 0.4);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss
$collected-color-126: rgba(255, 255, 255, 0.45);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\inventory-section\inventory-section.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\sales-section\sales-section.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\statistics-data-table\statistics-data-table.scss
$collected-color-127: rgba(255, 255, 255, 0.5);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\featured-products-row\featured-products-row.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\comparison-bar-chart\comparison-bar-chart.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\pie-chart-card\pie-chart-card.scss y 2 más
$collected-color-128: rgba(255, 255, 255, 0.6);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\product-detail-modal\product-detail-modal.component.scss
$collected-color-129: rgba(255, 255, 255, 0.65);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\featured-products-row\featured-products-row.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\admin\pages\statistics\components\inventory-section\inventory-section.scss y 3 más
$collected-color-130: rgba(255, 255, 255, 0.7);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-toolbar-advanced\catalog-toolbar-advanced.component.scss
$collected-color-131: rgba(255, 255, 255, 0.8);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\product-detail-modal\product-detail-modal.component.scss
$collected-color-132: rgba(255, 255, 255, 0.82);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\product-detail-modal\product-detail-modal.component.scss
$collected-color-133: rgba(255, 255, 255, 0.86);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\components\registrar-pago-form\registrar-pago-form.scss, C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\main-orders\main-orders.scss
$collected-color-134: rgba(43, 29, 19, 0.6);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\employee\pages\orders\components\registrar-pago-form\registrar-pago-form.scss
$collected-color-135: rgba(43, 29, 19, 0.8);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\product-detail-modal\product-detail-modal.component.scss
$collected-color-136: rgba(6, 6, 8, 0.86);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\product-detail-modal\product-detail-modal.component.scss
$collected-color-137: rgba(7, 7, 10, 0.65);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-marketplace\catalog-marketplace.page.scss
$collected-color-138: rgba(8, 8, 8, 0.78);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\hero\hero-section.component.scss
$collected-color-139: rgba(8, 8, 8, 0.93);

// Usado en: C:\Don-Papa\Backend-Don-Papa\client\src\app\features\client\pages\catalogo\components\catalog-marketplace\catalog-marketplace.page.scss
$collected-color-140: rgba(84, 24, 24, 0.95);

