<app-ui-modal
	[mostrar]="mostrar"
	titulo="Agregar Método de Pago"
	(cerrar)="onCerrar()"
>
	<app-ui-form maxHeight="50vh" maxWidth="600px" minWidth="fit-content">
		<ui-input
			tituloInput="Nombre"
			tipo="text"
			placeholder="Efectivo"
			[(ngModel)]="nombre"
			name="nombre"
			required
			#nombreModel="ngModel"
		></ui-input>

		<div footer class="form-footer">
			<ui-button
				texto="Guardar"
				[noBackgroundColor]="true"
				
				(accion)="onGuardar()"
			></ui-button>
		</div>

		<app-ui-helper-text *ngIf="nombreModel.invalid && formSubmitted">
			<ng-container *ngIf="nombreModel.errors?.['required']">El nombre es obligatorio.</ng-container>
		</app-ui-helper-text>
	</app-ui-form>
</app-ui-modal>
